body {
    font-family: 'HelveticaNeue', sans-serif;
    background-color: #f3f1ed;
    max-width: 600px;
    margin: 0 auto;
}
.wrap {
    /* width: 100%; */
    margin: 20px 10px 30px;
    height: 100%;
    /* background: red; */
}
.card + .card {
    margin-top: 15px;
}
.card {
    background-color: #fff;
    padding: 10px 15px 20px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}
.card__title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.versus {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.versus__team {
    width: 33%;
    text-align: center;
}
.versus__herb {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    /* background-color: #f3f1ed; */
    background-size: cover;
}
.versus__herb_1 {
    background-image: url(assets/logo/nkdiv.png);
}
.versus__herb_2 {
    background-image: url(assets/logo/classic.png);
}
.versus__herb_3 {
    background-image: url(assets/logo/prime.png);
}
.versus__herb_4 {
    background-image: url(assets/logo/kolhoz.png);
}
.versus__name {
    margin-top: 12px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.versus__details {
    width: 33%;

    font-size: 12px;
    line-height: 14px;
    color: rgba(0,0,0,.6);
    text-align: center;
}
.versus__score {
    font-size: 24px;
    line-height: 50px;
    color: black;
}
.table {
    margin-top: 12px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    border-top: 2px solid black;
}
.table__row + .table__row {
    border-top: 1px solid black;
}
.table__row {
    display: flex;
    justify-content: space-between;
}
.table__value {
    font-weight: bold;
}
.position {
    margin-top: 12px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}